<%- include("partials/header")-%>
<%- include("partials/navbar")-%>

    <section class="article-clean" >
        <div class="container">
            <div class="row">
                 <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><br><%= atitle  %><br></h1>
                        <p class="text-center">
                            <!-- <span class="by">By</span>  -->
                            <a href="#" style="color: rgb(242,240,240);padding-left: 0;"><%= "By " + aforcaption %></a>
                            <span class="date">Sept 8th, 2016 </span>
                        </p>
                    </div>
                    <div class="text">
                        <figure class="figure d-block">
                            <div class="simple-slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <% imageslist.forEach(function(image){%> 
                                            <% if(image.title == atitle ) { %>
                                        <div class="swiper-slide">
                                            <img src="data:<%= image.contentType %>;base64,<%= image.imageBase64 %>" width="100%" height="100%">
                                        </div>
                                            <% } %>
                                        <% })%>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                            
                            <figcaption><%= "Credits for poster: " + aforposter %></figcaption>
                        </figure>

                    </div>
                    
                    <div class="text">
                        <p><br><%= adescription %><br></p><br>
                        <p><br><%= ahashtag %><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include("partials/footer")-%>
    